@import '~theme/base/spa';

.address {
  @extend %texts;
  @extend %baseA;
  @include spacing('z', 'v', true);
  font-family: ヒラギノ角ゴ Pro, Hiragino Kaku Gothic Pro, sans-serif;
  font-style: normal;
  line-height: 1.5em;
}

.addressPanelWrap {
  &.addressPanel {
    @include cartSpacing('l', 'v', true);
    @include cartSpacing('s', 'x', false, 'b');

    &.noMargin {
      @include spacing('z', 'x', false, 'b');
    }

    .addressPanelHeader {
      @include cartSpacing('s', 'x', false, 'b');
    }
  }
}
