@import '~theme/base/main';

$color: $darkBlack;
$color: $black !default;

.proxyLink {
  @extend %baseAMinus2;
  color: $color;
  display: inherit;
  text-decoration: underline;

  &.linkTextDecorationNone {
    text-decoration: none;
  }

  .boldText {
    font-weight: $fontWeightHeavy;
    text-transform: uppercase;
  }
}
