@import '~theme/base/spa';

.label {
  @extend %baseAMinus1;
  align-items: center;
  color: $gray67;
  display: flex;
  height: $fontSizeMinus1; // same as `font-size: $fontSizeMinus1` with `line-height: 1`
  left: 0;
  line-height: 1;
  position: relative;
  top: 0;
  transition: all .2s;
  width: 100%;

  &.focus {
    color: $blueGreen;
  }

  &.invalid {
    color: $red100;
  }

  &.star {
    &::after {
      color: $blueGreen;
      content: '※';
    }

    &.invalid {
      &::after {
        color: currentColor;
      }
    }
  }
}


