@import 'layout';
@import 'mixins';

//TBD
%productImage {
  @include media('<=smallDevice') {
    &%p20 {
      @include square(60);
    }

    &%p30 {
      @include square(85);
    }

    &%p32 {
      @include square(102);
    }

    &%p40 {
      @include square(100);
    }

    &%p50 {
      @include square(114);
    }

    &%p60 {
      @include square(125);
    }

    &%p70 {
      @include square(148);
    }

    &%p80 {
      @include square(159.5);
    }

    &%p85 {
      @include square(180);
    }

    &%p90 {
      @include square(180);
    }

    &%p100 {
      @include square(240);
    }

    &%p110 {
      @include square(350);
    }

    &%p120 {
      @include square(1000);
    }
  }

  @include media('>smallDevice', '<=largeDevice') {
    &%p20 {
      @include square(75);
    }

    &%p30 {
      @include square(105);
    }

    &%p32 {
      @include square(120);
    }

    &%p40 {
      @include square(124);
    }

    &%p50 {
      @include square(135);
    }

    &%p60 {
      @include square(150);
    }

    &%p70 {
      @include square(165);
    }

    &%p80 {
      @include square(187);
    }

    &%p85 {
      @include square(180);
    }

    &%p90 {
      @include square(220);
    }

    &%p100 {
      @include square(300);
    }

    &%p110 {
      @include square(375);
    }

    &%p120 {
      @include square(1200);
    }
  }

  @include media('>largeDevice') {
    &%p20 {
      @include square(90);
    }

    &%p30 {
      @include square(120);
    }

    &%p32 {
      @include square(133);
    }

    &%p40 {
      @include square(150);
    }

    &%p50 {
      @include square(160);
    }

    &%p60 {
      @include square(170);
    }

    &%p70 {
      @include square(182);
    }

    &%p80 {
      @include square(206.5);
    }

    &%p85 {
      @include square(360);
    }

    &%p90 {
      @include square(331);
    }

    &%p100 {
      @include square(331);
    }

    &%p110 {
      @include square(400);
    }

    &%p120 {
      @include square(1400);
    }
  }

  background-size: contain;
  display: block;
}

%componentImage {
  background-size: contain;
  display: block;

  &%rectS,
  &%rectM,
  &%rectM2 {
    background-size: cover;
  }

  @include media('<=smallDevice') {
    &%sqxxs {
      @include square(48);
    }

    &%sq15xs1 {
      @include autoHeight(51.2);
    }

    &%sq15xs {
      @include square(68);
    }

    &%sqxs {
      @include square(80);
    }

    &%sqs {
      @include square(96);
    }

    &%sqm {
      @include square(160);
    }

    &%sql {
      @include square(180);
    }

    &%sqxl {
      @include square(310);
    }

    &%sqxxl {
      @include square(240);
    }

    &%rectXS {
      height: 60px;
      width: 80px;
    }

    &%rectS {
      height: 169px;
      width: 127px;
    }

    &%rectM {
      height: 230px;
      width: 152px;
    }

    &%rectM2 {
      height: 240px;
      width: 180px;
    }

    &%rectM3 {
      height: 390px;
      width: 247px;
    }

    &%heroS {
      height: 130px;
      width: 300px;
    }

    &%heroM {
      height: 280px;
      width: 335px;
    }

    &%heroL {
      height: 390px;
      width: 335px;
    }

    &%heroXL {
      height: 430px;
      width: 345px;
    }

    &%heroVideo {
      height: 185px;
      width: 330px;
    }

    &%collageM {
      @include square(96);
    }

    &%collageL {
      @include square(193);
    }

    &%productTile {
      @include square(12);
    }
  }

  @include media('>smallDevice', '<=largeDevice') {
    &%sqxxs {
      @include square(48);
    }

    &%sq15xs1 {
      @include autoHeight(60);
    }

    &%sq15xs {
      @include square(68);
    }

    &%sqxs {
      @include square(93);
    }

    &%sqs {
      @include square(105);
    }

    &%sqm {
      @include square(187);
    }

    &%sql {
      @include square(211);
    }

    &%sqxl {
      @include square(345);
    }

    &%sqxxl {
      @include square(240);
    }

    &%rectXS {
      height: 70px;
      width: 100px;
    }

    &%rectS {
      height: 217px;
      width: 150px;
    }

    &%rectM {
      height: 270px;
      width: 187px;
    }

    &%rectM2 {
      height: 240px;
      width: 180px;
    }

    &%rectM3 {
      height: 460px;
      width: 283px;
    }

    &%heroS {
      height: 160px;
      width: 375px;
    }

    &%heroM {
      height: 320px;
      width: 375px;
    }

    &%heroL {
      height: 420px;
      width: 375px;
    }

    &%heroXL {
      height: 468px;
      width: 375px;
    }

    &%heroVideo {
      height: 210px;
      width: 375px;
    }

    &%collageM {
      @include square(105);
    }

    &%collageL {
      @include square(211);
    }

    &%productTile {
      @include square(14);
    }
  }

  @include media('>largeDevice') {
    &%sqxxs {
      @include square(48);
    }

    &%sq15xs1 {
      @include autoHeight(66.24);
    }

    &%sq15xs {
      @include square(68);
    }

    &%sqxs {
      @include square(105);
    }

    &%sqs {
      @include square(115);
    }

    &%sqm {
      @include square(212);
    }

    &%sql {
      @include square(235);
    }

    &%sqxl {
      @include square(375);
    }

    // TBD once global sheet is updated with value of large device
    &%sqxxl {
      @include square(240);
    }

    &%rectXS {
      height: 90px;
      width: 120px;
    }

    &%rectS {
      height: 250px;
      width: 175px;
    }

    &%rectM {
      height: 360px;
      width: 225px;
    }

    &%rectM2 {
      height: 240px;
      width: 180px;
    }

    &%rectM3 {
      height: 480px;
      width: 313px;
    }

    &%heroS {
      height: 200px;
      width: 445px;
    }

    &%heroM {
      height: 340px;
      width: 420px;
    }

    &%heroL {
      height: 460px;
      width: 400px;
    }

    &%heroXL {
      height: 520px;
      width: 410px;
    }

    &%heroVideo {
      height: 230px;
      width: 410px;
    }

    &%collageM {
      @include square(105);
    }

    &%collageL {
      @include square(211);
    }

    &%productTile {
      @include square(16);
    }
  }
}

@include media('<=smallDevice') {
  %iconS {
    @include square(22);
  }

  %iconM {
    @include square(44);
  }

  %filterLabel {
    @include square(16);
  }

  %iconUniqloLogo {
    height: 45px;
    width: 90px;
  }

  %carouselL {
    width: 240px;
  }

  %carouselLargeSquare {
    width: 180px;
  }

  %carouselLargeRect {
    height: 240px;
    width: 180px;
  }

  %colourChipSmall {
    @include square(9);
    margin-right: $colourChipPaddingSmall;
  }
}

@include media('>smallDevice', '<=largeDevice') {
  %iconS {
    @include square(25);
  }

  %iconM {
    @include square(50);
  }

  %filterLabel {
    @include square(16);
  }

  %iconUniqloLogo {
    height: 45px;
    width: 90px;
  }

  %carouselL {
    width: 300px;
  }

  %carouselLargeSquare {
    width: 220px;
  }

  %carouselLargeRect {
    height: 240px;
    width: 180px;
  }

  %colourChipSmall {
    @include square(10);
    @include spacing('xs', 'x', false, 'r');
  }
}

@include media('>largeDevice') {
  %iconS {
    @include square(28);
  }

  %iconM {
    @include square(50);
  }

  %filterLabel {
    @include square(16);
  }

  %iconUniqloLogo {
    height: 45px;
    width: 90px;
  }

  %carouselL {
    width: 331px;
  }

  %carouselLargeSquare {
    width: 331px;
  }

  %carouselLargeRect {
    height: 240px;
    width: 180px;
  }

  %colourChipSmall {
    @include square(11);
    @include spacing('xs', 'x', false, 'r');
  }
}

%miniBagImg {
  width: 29.16%;
}

%barcodeImg {
  width: 225px;
}
