@import '~theme/base/main';

.divider {
  @include spacing('z', 'a');
  background-color: $grey400;
  border: none;
  height: 1px;
  margin-top: -1px;

  &.sectionSeparator {
    @include spacing('m', 'x', false, 't');
    background-color: $grey300;
    box-shadow: inset 0 2px 1px 0 $faintBlack;
    height: 8px;
  }
}
