@import '~theme/base/spa';

.wrapper {
  .shippingPreferenceWrap {
    &.preferenceContainer {
      @include cartSpacing('l', 'v', true);
      @include spacing('z', 'x', false, 'b');
    }
  }

  .timeFrameContainer {
    @include spacing('z', 'x', true, 't');
    align-items: center;
    display: flex;
    font-weight: $fontWeightHeavy;
    justify-content: space-between;
    position: relative;
    text-transform: uppercase;
    width: 100%;

    .infoIcon {
      @extend %icomoonInfo;
      @include spacing('z', 'h', true);
      display: flex;
      flex: {
        grow: 0;
        shrink: 0;
      }
      font-size: $fontSizePlus35;
      justify-content: flex-end;
      width: initial;

      &::before {
        color: $gray;
      }
    }
  }

  .textModifier {
    flex-grow: 1;
  }

  .giftPanel {
    @include cartSpacing('l', 'v', true);
    @include cartSpacing('s', 'x', false, 'b');
  }

  .topSpacing {
    @include cartSpacing('l', 'x', false, 't');
  }

  .largeTopSpacing {
    @include cartSpacing('xl', 'x', false, 't');
  }
}
