@import '~theme/base/spa';

.container {
  @extend %frame;
}

.header {
  display: flex;
}

.radio {
  @include spacing('s+s', 'x', false, 'r');
}

.radioButton {
  height: 20px;
  width: 20px;
}

.title {
  flex: 1;
  font-family: $fontFamilySansSerif;
  font-size: 14px;

  .strong {
    display: block;
    font-size: .8em;
    margin-bottom: 3px;
    text-transform: uppercase;
  }

  .descriptionLabel {
    @extend %baseA;
    @include cartSpacing('s', 'x', false, 't');
    @include spacing('z', 'x', false, 'b');
  }

  .editButton {
    color: $uniqloGrey001;
  }
}

.price {
  border-left: 1px solid $textTitleColor;
  color: $cyanDark;
  margin-left: 5px;
  padding-left: 5px;
}

.hidden {
  display: none;
}

.disabledSelector {
  color: $textColorLight;
  pointer-events: none;

  * {
    color: $textColorLight;
  }
}

.labelPriceWrap {
  display: flex;
  font-size: $fontSizePlus1;
  font-weight: $fontWeightBold;
  justify-content: space-between;
}

.labelEdit {
  display: block;
  margin-top: 2px;
  width: 88%;
}
