
.currentLocation {
  height: 25px;
  max-height: none !important;
  max-width: none !important;
  width: 25px;
}

.uniqloMarker {
  height: 48px;
  left: -21.5px;
  max-height: none !important;
  max-width: none !important;
  position: absolute;
  top: -48px;
  width: 43px;
}
